# Ignore the .env file
.env
FX/.env
*.env

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore sensitive files
secret_config.yml
private_key.pem

# Ignore log files
*.log

# Ignore temp files
*.tmp

# Ignore database file
db.sqlite3

# Ignore settings.py if you don't want it tracked (for example, if it contains sensitive data)
FX/FX/settings.py
