# Ignore the .env file
FX/.env
*.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore database file
db.sqlite3

# Ignore settings.py if you don't want it tracked (for example, if it contains sensitive data)
FX/FX/settings.py
